# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
.env
*.venv

# Django
*.log
*.pot
*.pyc
*.pyo

# Database
*.sqlite3

# Migrations (opcional)
*/migrations/*
!*/migrations/__init__.py

# Media & Static (opcional, se gerenciado externamente)
/media/
/static/

# Configurações Sensíveis
.env
config.json
settings_local.py

# IDEs e Ferramentas
.vscode/
.idea/
*.swp
*.swo

# Docker e Outros Ambientes
*.docker
*.tar

# Node.js (se usando npm/yarn para assets)
node_modules/
yarn.lock
package-lock.json

# Git
*.orig
