# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
.env
*.venv

# Django
*.log
*.pot
*.pyc
*.pyo

# Database
*.sqlite3

# Migrations (opcional)
*/migrations/*
!*/migrations/__init__.py

# Configurações Sensíveis
.env
config.json
settings_local.py

# IDEs e Ferramentas
.vscode/
.idea/
*.swp
*.swo

# Docker e Outros Ambientes
*.docker
*.tar

# Git
*.orig
