<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        {% comment %} {% include 'img/logo.html' with withbg="#696cff" %} {% endcomment %}
        <img src="{% static 'img/logo.png' %}" alt="logo" class="logo-default" width="200" />
      </span>
  
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-item">
      <a href="{% url 'index' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">Página Inicial</div>
      </a>
    </li>
    
    <li class="menu-item">
      <a class="menu-link" target="_blank">
        <i class="menu-icon tf-icons bx bx-support"></i>
        <div class="text-truncate" data-i18n="Support">Suporte</div>
      </a>
    </li>
    {% if perms.fila.view_senha  %}
    <li class="menu-item">
      <a href="{% url 'fila_view' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-list-ul"></i>
        <div class="text-truncate" data-i18n="Fila">Fila</div>
      </a>
    </li>
    {% endif %}
    {% if perms.fila.view_bancadaplano  %}
    <li class="menu-item">
      <a href="{% url 'operador_painel' %}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-desktop"></i>
        <div data-i18n="Permissions">Painel do Operador</div>
      </a>
    </li>
    {% endif %}

    {% if request.user.is_superuser  %}
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon icon-base bx bx-check-shield"></i>
          <div data-i18n="Roles & Permissions">Administração</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{% url 'users_view' %}" class="menu-link">
              <div data-i18n="Roles">Usuários</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'operador_painel' %}" class="menu-link">
              <div data-i18n="Permissions">Painel do Operador</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'bancadas_view' %}" class="menu-link">
              <div data-i18n="Roles">Cadastro de Bancadas</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'planos_view' %}" class="menu-link">
              <div data-i18n="Roles">Plano de Carregamento</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'tipo_veiculos_view' %}" class="menu-link">
              <div data-i18n="Roles">Veículos</div>
            </a>
          </li>
        </ul>
    </li>
    {% endif %}

  </ul>


</aside>
