{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Dashboard {% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/dashboards-analytics.js' %}"></script>
{% endblock page_js %}

{% block content %}

<div class="alert alert-primary alert-dismissible mb-0" role="alert">
          <h4 class="alert-heading d-flex align-items-center"><span class="alert-icon rounded-circle"><i class="bx bx-show"></i></span>Avisos</h4>
          <p class="mb-0">
          <strong>Prezados Colaboradores Shopee,</strong><br>
          <br>
          Estamos apresentando o novo sistema de filas, atualmente em fase de testes. Durante esse período, podem ocorrer instabilidades e bugs imprevistos.<br>
          <br>
          Pedimos a gentileza de reportar qualquer problema encontrado diretamente pelo WhatsApp (47) 99695-7685, para que nossa equipe de desenvolvimento possa resolvê-los o mais rápido possível.<br>
          <br>
          Além disso, você também pode acessar o suporte clicando no botão "Suporte", localizado no menu lateral esquerdo.<br>
          <br>
          Agradecemos sua colaboração!<br>
          <br>
          Atenciosamente,<br>
          Equipe de Desenvolvimento


          </p>
          </button>
        </div>

{% endblock %}
