{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Adicionar Plano de Carregamento{% endblock %}

{% block content %}


{% if plano_ativo %}
    <p>Plano de carregamento ativo agora:</p>
    <p>{{ plano_ativo.nome }} - Iniciado em {{ plano_ativo.data_inicio }} às {{ plano_ativo.horario_inicio }}</p>
{% elif plano_proximo_ou_ultimo %}
    <p>Não há um plano ativo no momento.</p>
    
    {% if plano_proximo_ou_ultimo.data_inicio >= today %}
        <p>O próximo plano acontecerá em {{ plano_proximo_ou_ultimo.data_inicio }} às {{ plano_proximo_ou_ultimo.horario_inicio }}</p>
    {% else %}
        <p>O último plano aconteceu em {{ plano_proximo_ou_ultimo.data_fim }} às {{ plano_proximo_ou_ultimo.horario_fim }}</p>
    {% endif %}
{% else %}
    <p>Não há planos cadastrados.</p>
{% endif %}

{% if senha %}
    Você está na fila.
    {% if posicao %}
        Sua posição na fila é {{ posicao }}. {{ bancadas_operando }} bancadas estão operando.
    {% endif %}
{% else %}
    {% if plano_ativo %}
    <a href="{% url 'fila_entrar' %}">
        <button class="btn btn-primary" onclick="entrarNaFila()">
            <i class="bx bx-plus bx-sm me-1"></i> Entrar na fila
        </button>
    </a>
    {% endif %}
{% endif %}


<script>
function entrarNaFila() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            function(position) {
                let lat = position.coords.latitude;
                let lon = position.coords.longitude;

                // Redirecionar para a URL da view Django com as coordenadas
                window.location.href = `{% url 'fila_entrar' %}?latitude=${lat}&longitude=${lon}`;
            },
            function(error) {
                alert("Erro ao obter localização. Verifique as permissões de GPS e tente novamente.");
            }
        );
    } else {
        alert("Geolocalização não suportada pelo seu navegador.");
    }
}
</script>

{% endblock %}