{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Planos de Carregamento{% endblock %}

{% block content %}
<!-- Filtro de Data -->
<div class="d-flex justify-content-between mb-3">
  <div class="d-flex">
    <input type="date" id="filter-start-date" class="form-control me-2" placeholder="Data Início" />
    <input type="date" id="filter-end-date" class="form-control" placeholder="Data Fim" />
  </div>
  <a href="{% url 'plano_add' %}" class="btn btn-primary">Criar novo plano</a>
</div>

<!-- Basic Bootstrap Table -->
<div class="card">
  <h5 class="card-header">Plano de carregamento</h5>
  <div class="table-responsive text-nowrap">
    <table class="table" id="plano-table">
      <thead>
        <tr>
            <th>Abertura de senha</th>
            <th>Encerramento de senha</th>
            <th>Planilha</th>
            <th></th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for plano in planos %}
        <tr data-start-date="{{ plano.data_inicio }}" data-end-date="{{ plano.data_fim }}">
          <td>{{ plano.data_inicio }} {{ plano.horario_inicio }}</td>
          <td>{{ plano.data_fim }} {{ plano.horario_fim }}</td>
          {% if plano.planilha %} <td><span class="badge bg-label-success me-1">Anexado</span></td> {% else %} <td><span class="badge bg-label-danger me-1">Não anexado</span></td> {% endif %}
          <td>
            <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'plano_edit' plano.id %}"><i class="bx bx-edit-alt me-1"></i> Editar</a>
                <a class="dropdown-item" href="{% url 'plano_delete' plano.id %}"><i class="bx bx-trash me-1"></i> Excluir</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--/ Basic Bootstrap Table -->
<!--/ Responsive Table -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const filterStartDate = document.getElementById('filter-start-date');
    const filterEndDate = document.getElementById('filter-end-date');
    const table = document.getElementById('plano-table');
    
    // Filtro em tempo real
    function filterTable() {
      const startDate = filterStartDate.value;
      const endDate = filterEndDate.value;

      for (const row of table.querySelectorAll('tbody tr')) {
        const rowStartDate = row.getAttribute('data-start-date');
        const rowEndDate = row.getAttribute('data-end-date');
        
        const showRow = 
          (!startDate || rowStartDate >= startDate) && 
          (!endDate || rowEndDate <= endDate);
          
        row.style.display = showRow ? '' : 'none';
      }
    }

    filterStartDate.addEventListener('input', filterTable);
    filterEndDate.addEventListener('input', filterTable);
  });
</script>
{% endblock %}
