<tbody id="rota-table">
    {% for rota in rotas %}
    <tr data-start-date="{{ rota.data_inicio }}" data-end-date="{{ rota.data_fim }}">
        <td class="sorting_1">
            <div class="d-flex justify-content-start align-items-center rota-name">
                <div class="avatar-wrapper">
                    <div class="avatar me-4">
                        <span class="avatar-initial rounded-circle bg-label-secondary">
                            <i class="bx bxs-truck bx-lg"></i>
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <a class="text-heading fw-medium" href="#">{{ rota.gaiola }}</a>
                </div>
            </div>
        </td>
        <td>
            <span class="text-truncate d-flex align-items-center text-heading">{{ rota.AT }}</span>
        </td>
        <td>
            <span class="text-heading">{{ rota.cidade }}</span>
        </td>
        <td>
            <span class="text-heading">{{ rota.km }}</span>
        </td>
        <td>
            {% if hoje < rota.inicio_datetime %}
                <span class="badge bg-label-warning">Aguardando início</span>
            {% elif hoje >= rota.inicio_datetime and hoje <= rota.fim_datetime %}
                <span class="badge bg-label-success">Em andamento</span>
            {% else %}
                <span class="badge bg-label-danger">Finalizada</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>

<!-- Paginação -->
<div class="card-footer d-flex justify-content-between align-items-center">
    <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination mb-0">
            {% if rotas.has_previous %}
            <li class="paginate_button page-item previous">
                <a href="#" class="page-link pagination-link" data-page="{{ rotas.previous_page_number }}">
                    <i class="bx bx-chevron-left bx-18px"></i>
                </a>
            </li>
            {% else %}
            <li class="paginate_button page-item previous disabled">
                <a class="page-link"><i class="bx bx-chevron-left bx-18px"></i></a>
            </li>
            {% endif %}

            <li class="paginate_button page-item active">
                <a href="#" class="page-link">{{ rotas.number }}</a>
            </li>

            {% if rotas.has_next %}
            <li class="paginate_button page-item next">
                <a href="#" class="page-link pagination-link" data-page="{{ rotas.next_page_number }}">
                    <i class="bx bx-chevron-right bx-18px"></i>
                </a>
            </li>
            {% else %}
            <li class="paginate_button page-item next disabled">
                <a class="page-link"><i class="bx bx-chevron-right bx-18px"></i></a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
