{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Register - Pages{% endblock %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static  'vendor/css/pages/page-auth.css' %}">
{% endblock page_css %}

{% block content %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div class="card px-sm-6 px-0">
        <div class="card-body">
          <h4 class="mb-1">Adventure starts here 🚀</h4>
          <p class="mb-6">Make your app management easy and fun!</p>

          <form id="formAuthentication" class="mb-6" action="" method="post">
            {% csrf_token %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-warning{% else %}alert-danger{% endif %}" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}

            {% if form.errors %}
              {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class="alert alert-danger">
                                <strong>{{ field|title }}</strong>: {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <div class="mb-6">
              <label for="shopee_id" class="form-label">Shopee ID</label>
              <input type="text" class="form-control" id="shopee_id" name="shopee_id" placeholder="Insira seu Shopee ID">
            </div>
            <div class="mb-6">
              <label for="first_name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Insira seu nome">
            </div>
            <div class="mb-6">
              <label for="last_name" class="form-label">Sobrenome</label>
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Insire seu sobrenome">
            </div>
            <div class="mb-6">
              <label for="telefone" class="form-label">Telefone</label>
              <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Insira seu telefone">
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Insira seu e-mail">
            </div>
            <div class="mb-6 form-password-toggle">
              <label class="form-label" for="password1">Senha</label>
              <div class="input-group input-group-merge">
                <input type="password" id="password1" class="form-control" name="password1" placeholder="********" aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-6 form-password-toggle">
              <label class="form-label" for="password2">Confirme sua senha</label>
              <div class="input-group input-group-merge">
                <input type="password" id="password2" class="form-control" name="password2" placeholder="********" aria-describedby="password2" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>

            <div class="my-8">
              <div class="form-check mb-0 ms-2">
                <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms">
                <label class="form-check-label" for="terms-conditions">
                  Eu aceito a
                  <a href="javascript:void(0);">politica de privacidade & termos de uso</a>
                </label>
              </div>
            </div>
            <button class="btn btn-primary d-grid w-100">
              Cadastrar-se
            </button>
          </form>

          <p class="text-center">
            <span>Já tem uma conta?</span>
            <a href="{% url 'login' %}">
              <span>Fazer login</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}