{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Users de Carregamento{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col-md-2">
          <div class="me-3">
              <div class="dataTables_length">
                <label>
                    <select id="entriesSelect" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select mx-0">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                </label>
              </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-6 mb-md-0 mt-n6 mt-md-0 gap-md-5">
              <div id="DataTables_Table_0_filter" class="dataTables_filter">
                <label>
                <input type="search" id="searchInput" class="form-control ms-0" placeholder="Pesquisar.." aria-controls="DataTables_Table_0">
                </label>
              </div>
              <div class="dt-buttons flex-wrap">
                <a href="#">
                  <button class="btn btn-primary" type="button">
                    <span>
                      <i class="bx bx-plus bx-sm me-0 me-sm-2"></i>
                      <span class="d-none d-sm-inline-block">Criar novo usuário</span>
                    </span>
                  </button>
                </a>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="table-responsive text-nowrap">
    <table class="table" id="user-table">
      <thead>
        <tr>
            <th>Usuário</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Status</th>
            <th></th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        {% for user in users %}
        <tr data-start-date="{{ user.data_inicio }}" data-end-date="{{ user.data_fim }}">
          <!-- Coluna 3: Informações do Usuário (avatar, nome e email) -->
          <td class="sorting_1">
            <div class="d-flex justify-content-start align-items-center user-name">
              <div class="avatar-wrapper">
                <div class="avatar avatar-sm me-4">
                  <img src="{{ user.foto.url }}" alt="Avatar" class="rounded-circle">
                </div>
              </div>
              <div class="d-flex flex-column">
                <a href="{% url 'user_view' user.id %}" class="text-heading text-truncate">
                  <span class="fw-medium">{{ user.first_name }} {{ user.last_name }}</span>
                </a>
                <small>{{ user.shopee_id }}</small>
              </div>
            </div>
          </td>
          
          <!-- Coluna 4: Cargo (ou Administrador) -->
          <td>
            <span class="text-truncate d-flex align-items-center text-heading">
              <i class="bx bx-user text-success me-2"></i>
              {% if user.is_superuser %}
                Administrador
              {% else %}
                {% if user.cargo %}
                  {{ user.cargo.name }}
                {% else %}
                  Sem cargo
                {% endif %}
              {% endif %}
            </span>
          </td>
          
          <!-- Coluna 5: Shopee ID (pode ser ajustado conforme a sua necessidade) -->
          <td>
            <span class="text-heading">{{ user.email }}</span>
          </td>
          
          <!-- Coluna 6: Telefone -->
          <td>
            {{ user.telefone }}
          </td>
          
          <!-- Coluna 7: Status -->
          <td>
          {% if user.last_login == None and user.is_active == False %}
          <span class="badge bg-label-warning" text-capitalized="">Pendente</span>
          {% else %}
            {% if user.is_active %}
              <span class="badge bg-label-success" text-capitalized="">Ativo</span>
            {% else %}
              <span class="badge bg-label-danger" text-capitalized="">Suspenso</span>
            {% endif %}
          {% endif %}
          </td>
          
          <!-- Coluna 8: Ações (visualizar, editar e excluir) -->
          <td class="dtr-hidden">
            <div class="d-flex align-items-center">
              <a href="{% url 'delete_user' user.id %}" class="btn btn-icon delete-record">
                <i class="bx bx-trash bx-md"></i>
              </a>
              <a href="{% url 'user_view' user.id %}" class="btn btn-icon">
                <i class="bx bx-show bx-md"></i>
              </a>
              <a href="javascript:;" class="btn btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                <i class="bx bx-dots-vertical-rounded bx-md"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end m-0">
                <a href="{% url 'user_view' user.id %}?edit_user_modal=true" class="dropdown-item">
                    Editar
                </a>
                {% if user.last_login == None and user.is_active == False %}
                    <a href="{% url 'ativar_user' user.id %}" class="dropdown-item">
                      Ativar
                    </a>
                {% else %}
                  {% if user.is_active %}
                    <a href="{% url 'suspender_user' user.id %}" class="dropdown-item">
                      Suspender
                    </a>
                  {% else %}
                    <a href="{% url 'ativar_user' user.id %}" class="dropdown-item">
                      Ativar
                    </a>
                  {% endif %}
                {% endif %}
                
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const tableBody = document.querySelector("#user-table tbody");
    const entriesSelect = document.getElementById("entriesSelect");
    const paginationContainer = document.querySelector(".pagination-container");

    function fetchUsers(page = 1) {
        let query = searchInput.value.trim();
        let limit = entriesSelect.value;

        fetch(`{% url 'search_users' %}?term=${query}&limit=${limit}&page=${page}`)
            .then(response => response.text())
            .then(html => {
                tableBody.innerHTML = html;

                // Atualiza a paginação
                updatePaginationListeners();
            })
            .catch(error => console.error('Erro na busca:', error));
    }

    function updatePaginationListeners() {
        document.querySelectorAll(".pagination-link").forEach(link => {
            link.addEventListener("click", function (e) {
                e.preventDefault();
                let page = this.dataset.page;
                fetchUsers(page);
            });
        });
    }

    searchInput.addEventListener("keyup", () => fetchUsers(1));
    entriesSelect.addEventListener("change", () => fetchUsers(1));

    fetchUsers();  // Chama a função ao carregar a página
});
</script>

{% endblock %}
